@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
    background: #222;
}

::-webkit-scrollbar{
    display: none;
}

*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

::selection{
    background-color: rgba(0, 0, 0, 0.5);
}